body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #fbf5dd;
}

.wave {
  width: 100%;
  display: block;
  margin: 0;
  margin-bottom: -101px;
}

.hero {
  text-align: center;
  padding: 100px 0px;
  background-color: #fbf5dd;
  position: relative;
}

.hero img {
  max-width: 100%;
  height: auto;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #555;
}

#about {
  padding: 80px 20px;
  background-color: #16404d;
}

#about .row {
  display: flex;
  align-items: center;
}

#about .col-lg-6 {
  padding: 20px;
}

#about h2 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #f0f0f0;
}

#about p {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #d1d1d1;
  margin-right: 40px;
}

#about a {
  color: #00b0b9;
  text-decoration: none;
}

#about a:hover {
  color: #f0f0f0;
}

#about img {
  max-width: 100%;
  height: auto;
}

section {
  padding: 80px 20px;
}

#projects h2 {
  font-family: "Roboto", sans-serif;
  color: #f5f5f5;
}

.card {
  background-color: #2c2c2c;
  border: none;
}

.card img {
  max-height: 400px;
  object-fit: contain;
}

.card-img-top {
  width: 100%;
  height: auto;
  transform: scale(0.8);
}

.card-img-botom {
  width: 100%;
  height: auto;
  max-height: 400px;
  transform: scale(0.8);
}

.card-title {
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

.card-text {
  color: #dcdcdc;
  font-family: "Roboto", sans-serif;
}

#experience {
  background-color: #16404d;
  color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

#experience p {
  color: #bebebe;
  font-family: "Roboto", sans-serif;
}

#experience h6 {
  color: #cccccc;
  font-family: "Roboto", sans-serif;
}

.timeline > li {
  list-style: none;
}

footer {
  background-color: #fbf5dd;
  text-align: center;
  padding: 30px;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.footer-links li {
  display: inline;
  margin: 0 15px;
}

.footer-links a {
  text-decoration: none;
  color: #555;
  font-weight: bold;
}

.footer-links a:hover {
  color: #16404d;
}

.social-media-icons a {
  margin: 0 20px;
  font-size: 0;
}
